<html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarala&amp;display=swap">
    <link rel="stylesheet" href="https://blood.bot/css/new-wPwYv8dKsjn2yfrFnXkc.css" type="text/css">
    <link rel="shortcut icon" href="https://blood.bot/img/logo_transparent.png">
    <title>authentication - blood</title>
 </head>

 <body>
      <div class="app-1jaXl app-desktop">
          <nav class="nav-kTxQW">
              <div class="navbar-2kznD">
                  <a class="brand-1V9Xv" href="/"><span class="brand-logo-2bi8d"></span><span class="brand-text-1QXBj">blood</span></a>
                  <ul>
                      <li><a href="https://blood.bot/faq">FAQ</a></li>
                      <li><a href="https://blood.bot/help">Commands</a></li>
                      <li><a href="https://docs.blood.bot">Documentation</a></li>
                      <li><a href="https://discord.gg/n5jVpxzfDV">Discord</a></li>
                  </ul>
              </div>
          </nav>
          <p style="margin: 10px;">Please click the button below and enter this code in the text box: <b>f0AEPmzw569ngKYj</b></p>
      </div>
 
</body></html>